/* reset css */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
input:focus, select:focus {outline:0;}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { list-style: decimal; }
ul { list-style:none; }
a{text-decoration: none;}
q:before, q:after { content:''; }
/* end reset */
/*----------------------------Font name-----------------------------*/
	/*font: px georgia, serif;
	font: px "times new roman", times, serif;
	font: px arial, helvetica, sans-serif;
	font: px tahoma, geneva, sans-serif;
	font: px "trebuchet ms", helvetica, sans-serif;
	font: px verdana, geneva, sans-serif;
	font: px "ms serif", "new york", serif;
	font: px "arial black", gadget, sans-serif;
	font: px "lucida sans", unicode, "lucida grande", sans-serif;*/
@font-face {
	
}
/*---------------------------start---------------------------------*/
html{
 height:100%;
 background:#fff;
}
body{
 font:10px/10px Arial, Helvetica, sans-serif;
 min-height:100%;
 min-width: 1200px;
 width: 1200px;
 margin: 0 auto;
 color:#000;
}
/*:before,
:after*/
/*:before,
:after*/
/*{
	display: block;
	clear: both;
	content: '';
}*/

.container{
	margin: 10px auto;
}

/*---------------------------HEADER----------------------------------*/
.header{
	width: 100%;
 	margin: 0 auto;
 	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
/*.header .container{
	margin: 0 auto;
}*/
.header .container h1{
	font-size: 20px;
	line-height: 20px;
	color: blue;
}
.header .container {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.header .container form{
	margin-right: 20px;
}
.header .container form fieldset{
	border: 1px solid #666;
    padding: 10px;
}
.header .container form fieldset legend{
	font-size: 16px;
	line-height: 16px;
	color: #666;
}
.header .container form fieldset p select{
	width: 200px;
    height: 30px;
    padding: 5px;
    border-radius: 3px;
}
.header .container form fieldset p input[type="button"]{
	font-size: 18px;
	line-height: 18px;
	color: #333;
	padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}
.header .container form fieldset p{
	font-size: 18px;
	line-height: 18px;
	color: red;
	margin: 10px;
}
.hideElement{
	display: none;
}
.header .container form fieldset :first-child{
	margin: 0;
}
.red{
	border: 1px solid red;
}
/*-----------------------------MAIN-------------------------------*/
.main{
	width: 100%;
	margin: 0 auto;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.main .container{margin: 10px 5px;}
.main .container div{
	border: 2px solid black;
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.main .container div p{
	font-size: 20px;
	line-height: 20px;
	margin: 5px 20px ;
}
.main .container div p span{
	margin: 0 5px;
}
#counter{
	
}
#counter p{
	width: 80%;
}
#lamp{
	
}
#tv{
	
}
#electricStove{
	
}
.container div p img{
	width: 4em;
	height: 4em;
}
.status{
	cursor: pointer;
}
.statusOff span{
	color: red;
}
.statusOn span{
	color: green;
}
/*. > ul{	
	
}
. > ul > li{	
	
}
. > ul > li > a{
	
}
. > ul > li > a:hover{	

}*/
